
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
p{
    color: dimgray;
    font-size: 15px;
    line-height: 18px;
}
.name-heighlight{
    color: orange;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 90%;
}
.top-header{
    background-image: url("images/top-banner.png");
    
    background-repeat: no-repeat;
}
section{
    height: 500px;
    margin-bottom: 50px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg,lightSalmon, tomato);
    padding: 10px 20px;
    border-radius: 5px;
    color: #fff;
    font-weight: 700;
    margin-top: 30px;
    
}
.second-section{
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}